*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: black;
}
.amd-logo{ 
    padding: 2rem 0rem 2rem;
    padding-left: 4rem;
    width: 7rem;

}
.nav-bar{
    position: absolute;
    display: flex;
    align-items: center;
}
.nav-bar-item{
    font-weight: 500;
    padding-left: 4rem;
    display: grid;
    justify-items: center;
    color: white;
    text-decoration: none;   
}
.underline {
    width: 0%;
    transition: width .5s;
}
.nav-bar-item:hover .underline{
    background-color: white;
    width: 100%;
    height: .124rem;
}
.icons{
    margin-left: auto;
    margin-right: 5rem;
    display: flex;
    justify-content: space-between;
    width: 15rem;
}
.fundo {
    padding-top: 5rem;
    background-color: black;
    width: 100%;
}
.fundo2 {
    height: 100%;
    width: 100%;
}
.titulo {
    position: absolute;
    top: 17rem;
    left: 5rem;
    font-size: 2.5rem;
    color: white;
    font-weight: 900;
}
.subtitulo {
    position: absolute;
    top: 23.3rem;
    left: 5rem;
    font-size: 1.2rem;
    color: white;
    font-weight: 600;
}
.learnmore {
    position: absolute;
    top: 26.7rem;
    left: 4.8rem;
    padding: 1.08rem 2.1rem;
    background: linear-gradient(to right,#1b1b1b,#4c4c4c);
    box-shadow: -1px 1px 0 #000, inset -1px 1px 0 hsla(0,0%,100%,.2);
    border-radius: 3px;
    text-decoration: none;
    color: white;
    font-weight: 700;
}
.barra {
    margin-top: .8rem;
    display: flex;
    background-color: gray;
    width: 17rem;
    height: .15rem;
}
.rocmpai{
    background-color: black;
    width: 100%;
    padding-left: 2rem;
    display: flex;
}
.rocm{
    font-size: 1rem;
    margin-left: 2rem;
    color: white;
    cursor: crosshair;
    font-weight: 500;
}
.rocmdois{
    display: flex;
}
.underlinedois {
    width: 0%;
    transition: width .5s;
}
.second-tab-wrapper{
    height: 100vh;
}
.rocm:hover .underlinedois {
    width: 100%;
    height: .15rem;
    transition: width 3s;
    justify-items: center;
    background-color: white;
}
.container{
    font-weight: 700;
    top: 45.2rem;
    left: 6rem;
    position: absolute;
    color: white;
    font-size: 2rem;
}
.threeimgs{
    margin-top: 16rem;
    padding: 0;    
    height: 16rem;
    justify-items: center;
}
.folder {
    background-color: #000;
    width: 100%;
    display: flex;
    justify-content: center;
}
.files{
    display: flex;
    margin-left: 5rem;
    font-size: 1.3rem;
    color: white;
}
.botao{
    font-size: 1rem;
    border-radius: 2px;
    border: white solid 1px;
    color: white;
    margin: 1rem 0 1rem 0;
    cursor: pointer;
    background: transparent;
    height: 3.5rem;
    width: 10rem;
    font-weight: 900;
}
.iron{
    color: #2899ff;
    text-decoration: none;
    font-size: 1.3rem;
}
.iron:hover{
    text-decoration: underline;
}
.leftsquare{
    width: 20rem;
    display: flex;
    flex-direction: column;
}
.middlesquare{
    margin: 0 5rem 0 5rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
}
.rightsquare{
    display: flex;
    flex-direction: column;
    width: 20rem;
}
.headline{
    font-weight: 700;
}

.third-tab{
    background: linear-gradient(to bottom,black,#181818,black );
    height: 90vh;
    padding-top: 7rem;
}
.third-tab-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;   
}
.gliders{
    margin-top: 1.5rem;
    display: flex;
}
h2{
    width: 100%;
    padding-left: 8.8rem;
    padding-bottom: 1rem;
    color: white;
}
.thrird-tab-wrapper-background{
    display: inline;
    background-repeat: no-repeat;
    background-image: url(https://www.amd.com/content/dam/amd/en/images/backgrounds/solutions/2002800-ai-solutions-color-tendrills.jpg);
    background-size: cover;
    background-position: center;
    padding: 2rem 0 0 0;
    height: 20rem;
    width: 90%;
}
.aboveline{
    background-color: gray;
    height: 2px;
    width: 11rem;
}
.bars:hover .aboveline{
    background-color: white;
}
.bars:hover{
    color: white;
}
.bars{  
    margin-left: 2rem;
    color: gray;
}
.fourth-tab-wrapper{
    background: transparent;
    height: 100vh;
    width: 100%;
}
.thrird-tab-wrapper-background-text{
    padding-left: 6rem;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
    color: white;
}
.thrird-tab-wrapper-background-text:hover{
    text-decoration: underline;
}
.thrird-tab-wrapper-background-subtext{
    padding: 2rem 0 2rem 6rem;
    font-weight: 500;
    color: white;
}
.thrird-tab-wrapper-background-anchor{
    padding-left: 6rem;
    text-decoration: none;
    color: white;
}
.fourth-tab-wrapper{
    display: flex;
}
.fourth-tab-wrapper-background-title{
    color: white;            
    font-size: 2.8rem;
    font-weight: 700;
}
.fourth-tab-wrapper-background-subtitle{
    color: white;
    text-align: center;
    padding: 2rem;
}
.fourth-tab-wrapper-background-learn-more{
    padding: 1.08rem 2.1rem;
    background: linear-gradient(to right,#1b1b1b,#4c4c4c);
    box-shadow: -1px 1px 0 #000, inset -1px 1px 0 hsla(0,0%,100%,.2);
    border-radius: 3px;
    text-decoration: none;
    color: white;
    font-weight: 700;
}
.fixed-img{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -10;
}
.fith-tab{
    background-color: black;
    height: 100vh;
}
.fith-tab-first-img{
    margin-left: 6rem;
    color: white;
    height: 26rem;
    width: 27rem;
    background-size: cover;
    background-position: center;
    background-image: url(https://www.amd.com/content/dam/amd/en/images/photography/case-study/1913654-truecar-case-study.jpg);
}
.fith-tab-second-img{
    background-image: url(https://www.amd.com/content/dam/amd/en/images/photography/case-study/1913654-pixomondo-case-study.jpg);
    height: 10rem;
    width: 10rem;
}
.fith-tab-third-img{
    background-image: url(https://www.amd.com/content/dam/amd/en/images/photography/case-study/1913654-cornell-university-case-study.jpg);
    height: 10rem;
    width: 10rem;
}
.fith-tab-fourth-img{
    background-image: url(https://www.amd.com/content/dam/amd/en/images/photography/case-study/1913654-clarius-case-study.jpg);
    height: 10rem;
    width: 10rem;
}
h3{
    margin-bottom: 1rem;
    font-size: 2rem;
    padding-top: 4rem;
    padding-left: 6rem;
    color: white;
}
.fith-tab-first-img-title{
    padding-top: 1.2rem;
    padding-left: 2.5rem;
    font-weight: 600;
    font-size: 1.5rem;
}
.fith-tab-first-img-text{
    font-size: 1.1rem;
    font-weight: 500;
    padding: 1.5rem 0 2.5rem 2.5rem;
}
.fith-tab-first-img-button{
    text-align: center;
    font-size: 1rem;
    border-radius: 2px;
    border: white solid 1px;
    color: white;
    margin: 1rem 0 1rem 2.5rem;
    cursor: pointer;
    background: transparent;
    height: 3.5rem;
    width: 15rem;
    font-weight: 700;
}
.fith-tab-first-img-button:hover{
    color: black;
    background-color: white;
}